* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in;
}

:root {
  /* Dark Theme */
  --dark-bg: #09000e;
  --dark-font-color: #b3b3b3;

  /* Link Colors */
  --dark-link-color: #00d9ff;

  /* Fonts */
  --heading-font: "Playfair Display", serif;
  --body-font: "Inter", sans-serif;

  /* Heading Colors */
  --dark-h1-color: #ff7500;
  --dark-h2-color: #9d00cd;
}

body,
html {
  font-family: var(--body-font);
  background: var(--dark-bg);
  color: var(--dark-font-color);
  overflow-x: hidden;
}

a {
  color: var(--dark-link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

h1 {
  color: var(--dark-h1-color);
}

h2 {
  color: var(--dark-h2-color);
}